.editButton {
    display: none;
}
.editorOpen {
    display: none;
}
.editorClosed {
    display: none;
}

@media only screen and (min-width: 961px) {
    .editButton {
      display: block;
      position: fixed;
      right: 16px;
      top: 8px;
      width: 36px;
      height: 36px;
      border-radius: 32px;
      padding: 8px;
      background-color: rgba(255, 255, 255, .05);
      outline: none;
      border: none;
      fill: rgba(255, 255, 255, 1);
      box-sizing: border-box;
      cursor: pointer;
      transition: background-color .4s;
      z-index: 999;
    }
    .editButton:hover {
        background-color: rgba(255, 255, 255, .2);
    }
    .Editing .editButton {
        right: 488px;
    }
    .btnedit {
      right: 480px;
    }
    .Editing {
      margin: 0 480px 0 0;
    }
    .editorOpen {
      display: block;
    }
    .editorClosed {
      display: none;
    }
    .Editing *[data-jambalaya]:hover .jambalaya-edit-icon:before {
      display: block !important;
    }
    *[data-jambalaya]:hover .jambalaya-edit-icon:before {
      display: none !important;
    }
    *[data-jambalaya]:hover:after {
      display: none !important;
    }
    .Editing *[data-jambalaya] {
      position: relative;
    }
    .Editing *[data-jambalaya]:hover:after {
      display: block !important;
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: 99;
    }
  }